# Модели
models/*.pt
models/*.pkl

# Данные
*.tiff
*.tif
*.png
*.jpg
*.jpeg
wsi/
results/visualization/
experiments/

# Тестовые данные (исключение для results/predictions)
!results/predictions/*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Архив
archive/

# Временные файлы
*.tmp
*.log
.DS_Store
*.egg-info/
dist/
build/

# Streamlit
.streamlit/

